<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ig</title>
  </head>
  <body>
    <h1>page belongs to @<%= username %></h1>
    <button>Follow</button>
    <button>Like</button>
  </body>
</html>
