<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RollDice</title>
  </head>
  <body>
    <h1>Dice gave value: <%= dice %></h1>
    <% if(dice == 6){ %>
    <h3>Great! Roll dice again</h3>
    <% } %>
  </body>
</html>
