<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome home 1 + 2</h1>
      <h3><%= 1 + 2 %></h3>
      <p>This is a normal home page</p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet
        laudantium ipsum enim repellendus ab esse, molestias doloribus sit
        beatae sint optio alias debitis modi odio numquam iure officiis!
        Dignissimos, totam.
      </p>
    </div>
  </body>
</html>
