<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New-post</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <form action="/posts" method="post">
      <input type="text" name="username" /><br /><br />
      <textarea name="content" id="" placeholder="write your post"></textarea
      ><br />
      <button>Submit post</button>
    </form>
    <br />
  </body>
</html>
