<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h2>The total number of users: <%= count %></h2>
    <form action="http://localhost:8080/users/new" method="get">
      <button>Add new user!</button>
    </form>
  </body>
</html>
